@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030C;
    --fonte-pincipal: "Inter";
    --titulo-primario: 3rem; /*48px*/
    --titulo-secundario: 2rem; /*32px*/
    --titulo-terciario: 1.75rem; /*28px*/
    --texto-primario: 1rem; /*16px*/
    --texto-secundario: 0.875rem; /*14px*/
    --texto-terciario: 0.75rem; /*12px*/
    --botao-azul-efeito: #3c92fa;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-pincipal);
    font-size: var(--texto-primario);
    font-weight: 400;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6rem;
}

.container__titulo{
    font-size: var(--titulo-terciario);
    font-weight: 700;
}

.container__imagem{
    margin: 1rem 0 2rem 0;
}

.container__botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 0.5rem; /*8px*/
    padding: 1rem; /*16px*/
    display: block;
    text-decoration: none;
    margin-bottom: 1rem; /*16px*/
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}

.botao__secundario{
    background-color: transparent;
    border: 0.125rem solid var(--branco-principal); /*2px*/
}

.container__aviso{
    font-size: var(--texto-terciario);
    color: var(--cinza-secundario);
}

.secundario{
    align-items: center;
    margin: 0 10rem; /*160px*/
}

.secundario__imagem{
    width: 80%;
}

.descricao__titulo{
    font-weight: 700;
    font-size: var(--titulo-primario);
    color: var(--branco-principal);
    margin-bottom: 0.1rem;
}

.descricao__texto{
    font-size: var(--texto-primario);
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1rem;
}

.container__descricao{
    padding: 2rem;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: var(--titulo-primario);
    color: var(--branco-principal);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5rem 0;
}

.lista__item{
    font-size: var(--titulo-secundario);
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    margin: 5rem 3rem;
}

.rodape__logo{
    margin-bottom: 2rem;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
}

.lista__link a{
    font-size: var(--texto-primario);
    color: var(--branco-principal);
    text-decoration: none;
    margin-left: 1rem;
}

.rodape__texto{
    font-size: var(--texto-secundario);
    color: var(--cinza-secundario);
    margin: 1rem 0;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: purple;
}

@media (max-width: 1200px){
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
}

.dispositivos__lista{
    display: flex;
    flex-direction: column;
}

.rodape{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
}

.rodape__logo{
    width: 20%;
}

.invertido{
    flex-direction: column-reverse;
}

}
